In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("LeituraCSV") \
    .master("local[*]") \
    .getOrCreate()

print("Spark iniciado com sucesso! Versão:", spark.version)

Spark iniciado com sucesso! Versão: 4.0.1

In [2]:
customers = spark.read.csv(r"olist_customers_dataset.csv", header=True, inferSchema=True)
geolocation = spark.read.csv(r"olist_geolocation_dataset.csv", header=True, inferSchema=True)
order_items = spark.read.csv(r"olist_order_items_dataset.csv", header=True, inferSchema=True)
order_payments = spark.read.csv(r"olist_order_payments_dataset.csv", header=True, inferSchema=True)
orders = spark.read.csv(r"olist_orders_dataset.csv", header=True, inferSchema=True)
products = spark.read.csv(r"olist_products_dataset.csv", header=True, inferSchema=True)

print("Váriaveis setados para join")

Váriaveis setados para join

In [6]:
from pyspark.sql.functions import col, avg

# Agrega geolocalização por cidade e estado
geo_base = (
    geolocation
    .groupBy("geolocation_city", "geolocation_state")
    .agg(
        avg("geolocation_lat").alias("avg_lat"),
        avg("geolocation_lng").alias("avg_lng")
    )
)

# Faz os joins
df_base = (
    customers.alias("C")
    .join(orders.alias("O"), col("C.customer_id") == col("O.customer_id"), "right")
    .join(order_items.alias("I"), col("O.order_id") == col("I.order_id"), "left")
    .join(products.alias("P"), col("I.product_id") == col("P.product_id"), "left")
    .join(order_payments.alias("PY"), col("O.order_id") == col("PY.order_id"), "left")
    .join(
        geo_base.alias("G"),
        (col("C.customer_city") == col("G.geolocation_city")) &
        (col("C.customer_state") == col("G.geolocation_state")),
        "left"
    )
    .select(
        col("O.order_id"),
        col("O.order_status"),
        col("O.order_purchase_timestamp"),
        col("C.customer_city"),
        col("C.customer_state"),
        col("G.avg_lat").alias("latitude_media"),
        col("G.avg_lng").alias("longitude_media"),
        col("P.product_id"),
        col("P.product_category_name"),
        col("I.price"),
        col("I.freight_value"),
        col("PY.payment_value")
    )
)

df_base.show(20, truncate=False)

+--------------------------------+------------+------------------------+-----------------------+--------------+-------------------+-------------------+--------------------------------+---------------------------------+------+-------------+-------------+
|order_id                        |order_status|order_purchase_timestamp|customer_city          |customer_state|latitude_media     |longitude_media    |product_id                      |product_category_name            |price |freight_value|payment_value|
+--------------------------------+------------+------------------------+-----------------------+--------------+-------------------+-------------------+--------------------------------+---------------------------------+------+-------------+-------------+
|76c6e866289321a7c93b82b54852dc33|delivered   |2017-01-23 18:29:09     |faxinalzinho           |RS            |-27.421768635363264|-52.67502180601173 |ac1789e492dcd698c5c10b97a671243a|moveis_decoracao                 |19.9  |16.05        |35.95        |
|82566a660a982b15fb86e904c8d32918|delivered   |2018-06-07 10:06:19     |ouro preto             |MG            |-20.38924295712821 |-43.5104335256915  |72a97c271b2e429974398f46b93ae530|perfumaria                       |31.9  |18.23        |50.13        |
|47770eb9100c2d0c44946d9cf07ec65d|delivered   |2018-08-08 08:38:49     |vianopolis             |GO            |-16.74555213209521 |-48.5141682301319  |aa4383b373c6aca5d8797843e5594415|automotivo                       |159.9 |19.22        |179.12       |
|6514b8ad8028c9f2cc2374ded245783f|delivered   |2017-05-16 13:10:30     |nilopolis              |RJ            |-22.809790478260414|-43.41822273123849 |4520766ec412348b8d4caa5e8a18c464|automotivo                       |59.99 |15.17        |75.16        |
|a4591c265e18cb1dcee52889e2d8acc3|delivered   |2017-07-09 21:57:05     |congonhinhas           |PR            |-23.55352204389659 |-50.54992367333535 |060cb19345d90064d1015407193c233d|automotivo                       |147.9 |27.36        |175.26       |
|e69bfb5eb88e0ed6a785585b27e16dbf|delivered   |2017-07-29 11:55:02     |sorocaba               |SP            |-23.485346151382082|-47.46445000569193 |9a78fb9862b10749a117f7fc3c31f051|moveis_escritorio                |149.99|19.77        |8.34         |
|e69bfb5eb88e0ed6a785585b27e16dbf|delivered   |2017-07-29 11:55:02     |sorocaba               |SP            |-23.485346151382082|-47.46445000569193 |9a78fb9862b10749a117f7fc3c31f051|moveis_escritorio                |149.99|19.77        |161.42       |
|136cce7faa42fdb2cefd53fdc79a6098|invoiced    |2017-04-11 12:22:08     |santa rosa             |RS            |-27.921370559268947|-54.44175613309933 |a1804276d9941ac0733cfd409f5206eb|NULL                             |49.9  |16.05        |65.95        |
|dcb36b511fcac050b97cd5c05de84dc3|delivered   |2018-06-07 19:03:12     |goiania                |GO            |-16.68458663973802 |-49.27448045931699 |009c09f439988bc06a93d6b8186dce73|perfumaria                       |132.4 |14.05        |146.45       |
|e6ce16cb79ec1d90b1da9085a6118aeb|delivered   |2017-05-16 19:41:10     |rio de janeiro         |RJ            |-22.914910940076883|-43.31287727788056 |08574b074924071f4e201e151b152b4e|ferramentas_jardim               |99.0  |30.53        |259.06       |
|e6ce16cb79ec1d90b1da9085a6118aeb|delivered   |2017-05-16 19:41:10     |rio de janeiro         |RJ            |-22.914910940076883|-43.31287727788056 |08574b074924071f4e201e151b152b4e|ferramentas_jardim               |99.0  |30.53        |259.06       |
|403b97836b0c04a622354cf531062e5f|delivered   |2018-01-02 19:00:43     |rio de janeiro         |RJ            |-22.914910940076883|-43.31287727788056 |638bbb2a5e4f360b71f332ddfebfd672|construcao_ferramentas_construcao|1299.0|77.45        |1376.45      |
|53cdb2fc8bc7dce0b6741e2150273451|delivered   |2018-07-24 20:41:37     |barreiras              |BA            |-12.14829144007139 |-44.96726006078332 |595fac2a385ac33a80bd5114aec74eb8|perfumaria                       |118.7 |22.76        |141.46       |
|ad21c59c0840e6cb83a9ceb5573f8159|delivered   |2018-02-13 21:18:39     |santo andre            |SP            |-23.6600310913758  |-46.521965851668206|65266b2da20d04dbe00c5c2d3bb7859e|papelaria                        |19.9  |8.72         |28.62        |
|949d5b44dbf5de918fe9c16f97b45f8a|delivered   |2017-11-18 19:28:06     |sao goncalo do amarante|RN            |-5.778634996688903 |-35.29413092468799 |d0b61bfb1de832b15ba9d266ca96e5b0|pet_shop                         |45.0  |27.2         |72.2         |
|e481f51cbdc54678b7cc49136f2d6af7|delivered   |2017-10-02 10:56:33     |sao paulo              |SP            |-23.570860168123758|-46.63324168698188 |87285b34884572647811a353c7ac498a|utilidades_domesticas            |29.99 |8.72         |18.59        |
|e481f51cbdc54678b7cc49136f2d6af7|delivered   |2017-10-02 10:56:33     |sao paulo              |SP            |-23.570860168123758|-46.63324168698188 |87285b34884572647811a353c7ac498a|utilidades_domesticas            |29.99 |8.72         |2.0          |
|e481f51cbdc54678b7cc49136f2d6af7|delivered   |2017-10-02 10:56:33     |sao paulo              |SP            |-23.570860168123758|-46.63324168698188 |87285b34884572647811a353c7ac498a|utilidades_domesticas            |29.99 |8.72         |18.12        |
|34513ce0c4fab462a55830c0989c7edb|delivered   |2017-07-13 19:58:11     |sao paulo              |SP            |-23.570860168123758|-46.63324168698188 |f7e0fa615b386bc9a8b9eb52bc1fff76|informatica_acessorios           |98.0  |16.13        |114.13       |
|5ff96c15d0b717ac6ad1f3d77225a350|delivered   |2018-07-25 17:44:10     |sao paulo              |SP            |-23.570860168123758|-46.63324168698188 |10adb53d8faa890ca7c2f0cbcb68d777|cama_mesa_banho                  |19.9  |12.8         |32.7         |
+--------------------------------+------------+------------------------+-----------------------+--------------+-------------------+-------------------+--------------------------------+---------------------------------+------+-------------+-------------+
only showing top 20 rows

In [7]:
df_base = df_base.dropDuplicates(["order_id", "product_id"])

df_base.show(20, truncate=False)

+--------------------------------+------------+------------------------+---------------------+--------------+-------------------+-------------------+--------------------------------+---------------------------------+------+-------------+-------------+
|order_id                        |order_status|order_purchase_timestamp|customer_city        |customer_state|latitude_media     |longitude_media    |product_id                      |product_category_name            |price |freight_value|payment_value|
+--------------------------------+------------+------------------------+---------------------+--------------+-------------------+-------------------+--------------------------------+---------------------------------+------+-------------+-------------+
|000576fe39319847cbb9d288c5617fa6|delivered   |2018-07-04 12:08:27     |praia grande         |SP            |-24.021423655849397|-46.46182393815408 |557d850972a7d6f792fd18ae1400d9b6|ferramentas_jardim               |810.0 |70.75        |880.75       |
|0013503b13da1eac686219390b7d641b|delivered   |2017-12-05 23:40:59     |osasco               |SP            |-23.536560947809892|-46.78828362886693 |38afdf723b95d455b418a0f57d623c6b|moveis_decoracao                 |119.9 |17.32        |137.22       |
|001427c0ec99cf8af737bd88e92fd444|delivered   |2018-04-07 18:51:22     |ituiutaba            |MG            |-18.976155023374968|-49.46335244818041 |28b4eced95a52d9c437a4caf9d311b95|moveis_decoracao                 |59.9  |23.35        |83.25        |
|0020262c8a370bd5a174ea6a2a267321|delivered   |2017-11-28 09:32:49     |guaratuba            |PR            |-25.887866961664873|-48.58448614692999 |a5341e3f8155dbb3e62323d3ea289729|moveis_decoracao                 |79.5  |21.05        |100.55       |
|0028de0ca693a1bb26448916a81105cc|delivered   |2018-08-15 14:59:36     |canoas               |RS            |-29.921655879098733|-51.174495237165324|059344baebbeaa42fa9f2bbe11b1583e|construcao_ferramentas_iluminacao|29.99 |15.31        |45.3         |
|002c9def9c9b951b1bec6d50753c9891|delivered   |2018-05-14 16:57:47     |sao paulo            |SP            |-23.570860168123758|-46.63324168698188 |2d9ff06c8870a518f5f6909774e140fb|utilidades_domesticas            |78.0  |8.9          |173.8        |
|00337fe25a3780b3424d9ad7c5a4b35e|delivered   |2017-09-25 17:39:29     |sao paulo            |SP            |-23.570860168123758|-46.63324168698188 |1f9799a175f50c9fa725984775cac5c5|cama_mesa_banho                  |59.9  |9.94         |139.68       |
|0036757472ece3dde52fd4bfd929c90e|delivered   |2018-07-19 14:58:59     |bauru                |SP            |-22.32668283930309 |-49.066682485334695|4c1bbc12438daec98a77243c2bf7a3ba|moveis_escritorio                |136.99|66.04        |203.03       |
|0039500db36d50d7d0bfaf23723550f3|delivered   |2018-07-06 10:37:32     |maceio               |AL            |-9.629092475768132 |-35.73120478518649 |62984ea1bba7fcea1f5b57084d3bf885|esporte_lazer                    |169.9 |33.33        |203.23       |
|00404fa7a687c8c44ca69d42695aae73|delivered   |2018-05-07 22:38:21     |sao paulo            |SP            |-23.570860168123758|-46.63324168698188 |53b36df67ebb7c41585e8d54d6772e08|relogios_presentes               |99.9  |0.0          |99.9         |
|0045e3085f083f0f38d24bb3f22e6593|delivered   |2017-08-10 16:13:36     |sao jose dos campos  |SP            |-23.21087970704398 |-45.885186496536896|9545d45c37449ccbc376de3a04c66e71|beleza_saude                     |116.9 |13.84        |130.74       |
|005cad6157eadc7f1f09917607f1704a|delivered   |2017-04-15 16:35:52     |sao bernardo do campo|SP            |-23.70762633840408 |-46.56386871942135 |7e97894cc00196a56d6ec315c68b2353|esporte_lazer                    |96.0  |14.84        |110.84       |
|006dd93155bc2abd844cc5eed3a0fe7f|delivered   |2017-12-02 01:20:28     |sao paulo            |SP            |-23.570860168123758|-46.63324168698188 |1ec486885049bbb9b79351d150ed18c4|fashion_bolsas_e_acessorios      |49.9  |7.78         |57.68        |
|006e43460a55bc60c0a437521e426529|delivered   |2017-05-11 00:24:35     |guaruja              |SP            |-23.978902860773438|-46.26040545326232 |08574b074924071f4e201e151b152b4e|ferramentas_jardim               |99.0  |43.06        |142.06       |
|00750f68bb64537034e93554c64b41b5|delivered   |2017-11-12 09:50:55     |maua                 |SP            |-23.669993795741227|-46.44890869240463 |526f833e1eb0a32ad9351145a761b9ab|relogios_presentes               |129.0 |8.16         |137.16       |
|00756576f4e494406945ac21cb82cfe0|delivered   |2018-01-30 18:08:21     |sao jose do rio preto|SP            |-20.809641072093598|-49.37964503407102 |bfc0d01be79d9038c7720f983bf954e0|relogios_presentes               |137.0 |15.71        |152.71       |
|0081ce648af7d6a7bac2a93b6035d1e3|delivered   |2017-11-08 13:38:11     |santa cruz do sul    |RS            |-29.719205251395316|-52.42669616762677 |1d417ca09479182e9fdf13a1c77c309f|cama_mesa_banho                  |99.9  |17.95        |117.85       |
|0084e195fbd72ae51599af47f04afede|delivered   |2018-03-14 23:57:00     |porto alegre         |RS            |-30.049252267575962|-51.18858153639673 |a963ea4d494221de09b70f1b4a70edbd|informatica_acessorios           |89.9  |23.13        |113.03       |
|008a40c2b8b21893e04945ce58854b55|delivered   |2018-04-29 20:26:41     |bariri               |SP            |-22.07402227056759 |-48.740256216555636|016711f78a6a87696645db0a6a834826|beleza_saude                     |99.0  |13.0         |112.0        |
|0098dbda25722a3f019fe252a0cd10b3|delivered   |2017-09-19 18:05:34     |sao joao d'alianca   |GO            |-14.705376128122076|-47.52256424840694 |568ba441f7f464dc73d23a91cf8ca671|cama_mesa_banho                  |143.54|21.49        |165.03       |
+--------------------------------+------------+------------------------+---------------------+--------------+-------------------+-------------------+--------------------------------+---------------------------------+------+-------------+-------------+
only showing top 20 rows

In [8]:
#Aqui começa a limpeza dos dados, pessoal
#Vendo quantas linhas aparece "NULO"

from pyspark.sql.functions import col, when, count

df_base.select([count(when(col(c).isNull(), c)).alias(c) for c in df_base.columns]).show()

+--------+------------+------------------------+-------------+--------------+--------------+---------------+----------+---------------------+-----+-------------+-------------+
|order_id|order_status|order_purchase_timestamp|customer_city|customer_state|latitude_media|longitude_media|product_id|product_category_name|price|freight_value|payment_value|
+--------+------------+------------------------+-------------+--------------+--------------+---------------+----------+---------------------+-----+-------------+-------------+
|       0|           0|                       0|            0|             0|            76|             76|       775|                 2235|  775|          775|            1|
+--------+------------+------------------------+-------------+--------------+--------------+---------------+----------+---------------------+-----+-------------+-------------+

In [9]:
#Como algumas linhas nao fazem sentido estar nulo, precisa tirar essas linhas da tabela pra nao interferir

from pyspark.sql.functions import col

# Limpeza geral da tabela
df_base = (
    df_base
    # Remove linhas essenciais que não podem ser nulas
    .dropna(subset=["product_id", "price", "payment_value", "latitude_media", "longitude_media"])

    # Substitui valores ausentes em colunas opcionais
    .fillna({
        "product_category_name": "desconhecido",
        "freight_value": 0
    })
)

In [10]:
df_base.select([count(when(col(c).isNull(), c)).alias(c) for c in df_base.columns]).show()

+--------+------------+------------------------+-------------+--------------+--------------+---------------+----------+---------------------+-----+-------------+-------------+
|order_id|order_status|order_purchase_timestamp|customer_city|customer_state|latitude_media|longitude_media|product_id|product_category_name|price|freight_value|payment_value|
+--------+------------+------------------------+-------------+--------------+--------------+---------------+----------+---------------------+-----+-------------+-------------+
|       0|           0|                       0|            0|             0|             0|              0|         0|                    0|    0|            0|            0|
+--------+------------+------------------------+-------------+--------------+--------------+---------------+----------+---------------------+-----+-------------+-------------+

In [11]:
from pyspark.sql.functions import to_date

# Converte o timestamp para apenas data
df_base = df_base.withColumn("order_date", to_date("order_purchase_timestamp"))

# Mostra resultado
df_base.select("order_purchase_timestamp", "order_date").show(10, truncate=False)

+------------------------+----------+
|order_purchase_timestamp|order_date|
+------------------------+----------+
|2017-05-14 20:28:25     |2017-05-14|
|2017-06-13 21:11:26     |2017-06-13|
|2017-11-28 21:00:44     |2017-11-28|
|2018-06-04 08:33:09     |2018-06-04|
|2017-07-12 18:45:24     |2017-07-12|
|2017-12-07 15:40:14     |2017-12-07|
|2017-03-09 16:18:47     |2017-03-09|
|2017-11-26 21:21:07     |2017-11-26|
|2017-10-24 11:34:33     |2017-10-24|
|2017-10-07 00:16:57     |2017-10-07|
+------------------------+----------+
only showing top 10 rows

In [12]:
from pyspark.sql.functions import lower, trim, col, upper

df_base = (
    df_base
    .withColumn("order_status", lower(trim(col("order_status"))))
    .withColumn("customer_state", upper(trim(col("customer_state"))))
    .withColumn("product_category_name", lower(trim(col("product_category_name"))))
    .withColumn("price", col("price").cast("double"))
    .withColumn("freight_value", col("freight_value").cast("double"))
    .withColumn("payment_value", col("payment_value").cast("double"))

)

df_base.printSchema()
df_base.show(15, truncate=False)

root
 |-- order_id: string (nullable = true)
 |-- order_status: string (nullable = true)
 |-- order_purchase_timestamp: timestamp (nullable = true)
 |-- customer_city: string (nullable = true)
 |-- customer_state: string (nullable = true)
 |-- latitude_media: double (nullable = true)
 |-- longitude_media: double (nullable = true)
 |-- product_id: string (nullable = true)
 |-- product_category_name: string (nullable = false)
 |-- price: double (nullable = true)
 |-- freight_value: double (nullable = false)
 |-- payment_value: double (nullable = true)
 |-- order_date: date (nullable = true)

+--------------------------------+------------+------------------------+---------------------+--------------+-------------------+-------------------+--------------------------------+---------------------------------+------+-------------+-------------+----------+
|order_id                        |order_status|order_purchase_timestamp|customer_city        |customer_state|latitude_media     |longitude_media    |product_id                      |product_category_name            |price |freight_value|payment_value|order_date|
+--------------------------------+------------+------------------------+---------------------+--------------+-------------------+-------------------+--------------------------------+---------------------------------+------+-------------+-------------+----------+
|000576fe39319847cbb9d288c5617fa6|delivered   |2018-07-04 12:08:27     |praia grande         |SP            |-24.021423655849397|-46.46182393815408 |557d850972a7d6f792fd18ae1400d9b6|ferramentas_jardim               |810.0 |70.75        |880.75       |2018-07-04|
|0013503b13da1eac686219390b7d641b|delivered   |2017-12-05 23:40:59     |osasco               |SP            |-23.536560947809892|-46.78828362886693 |38afdf723b95d455b418a0f57d623c6b|moveis_decoracao                 |119.9 |17.32        |137.22       |2017-12-05|
|001427c0ec99cf8af737bd88e92fd444|delivered   |2018-04-07 18:51:22     |ituiutaba            |MG            |-18.976155023374968|-49.46335244818041 |28b4eced95a52d9c437a4caf9d311b95|moveis_decoracao                 |59.9  |23.35        |83.25        |2018-04-07|
|0020262c8a370bd5a174ea6a2a267321|delivered   |2017-11-28 09:32:49     |guaratuba            |PR            |-25.887866961664873|-48.58448614692999 |a5341e3f8155dbb3e62323d3ea289729|moveis_decoracao                 |79.5  |21.05        |100.55       |2017-11-28|
|0028de0ca693a1bb26448916a81105cc|delivered   |2018-08-15 14:59:36     |canoas               |RS            |-29.921655879098733|-51.174495237165324|059344baebbeaa42fa9f2bbe11b1583e|construcao_ferramentas_iluminacao|29.99 |15.31        |45.3         |2018-08-15|
|002c9def9c9b951b1bec6d50753c9891|delivered   |2018-05-14 16:57:47     |sao paulo            |SP            |-23.570860168123758|-46.63324168698188 |2d9ff06c8870a518f5f6909774e140fb|utilidades_domesticas            |78.0  |8.9          |173.8        |2018-05-14|
|00337fe25a3780b3424d9ad7c5a4b35e|delivered   |2017-09-25 17:39:29     |sao paulo            |SP            |-23.570860168123758|-46.63324168698188 |1f9799a175f50c9fa725984775cac5c5|cama_mesa_banho                  |59.9  |9.94         |139.68       |2017-09-25|
|0036757472ece3dde52fd4bfd929c90e|delivered   |2018-07-19 14:58:59     |bauru                |SP            |-22.32668283930309 |-49.066682485334695|4c1bbc12438daec98a77243c2bf7a3ba|moveis_escritorio                |136.99|66.04        |203.03       |2018-07-19|
|0039500db36d50d7d0bfaf23723550f3|delivered   |2018-07-06 10:37:32     |maceio               |AL            |-9.629092475768132 |-35.73120478518649 |62984ea1bba7fcea1f5b57084d3bf885|esporte_lazer                    |169.9 |33.33        |203.23       |2018-07-06|
|00404fa7a687c8c44ca69d42695aae73|delivered   |2018-05-07 22:38:21     |sao paulo            |SP            |-23.570860168123758|-46.63324168698188 |53b36df67ebb7c41585e8d54d6772e08|relogios_presentes               |99.9  |0.0          |99.9         |2018-05-07|
|0045e3085f083f0f38d24bb3f22e6593|delivered   |2017-08-10 16:13:36     |sao jose dos campos  |SP            |-23.21087970704398 |-45.885186496536896|9545d45c37449ccbc376de3a04c66e71|beleza_saude                     |116.9 |13.84        |130.74       |2017-08-10|
|005cad6157eadc7f1f09917607f1704a|delivered   |2017-04-15 16:35:52     |sao bernardo do campo|SP            |-23.70762633840408 |-46.56386871942135 |7e97894cc00196a56d6ec315c68b2353|esporte_lazer                    |96.0  |14.84        |110.84       |2017-04-15|
|006dd93155bc2abd844cc5eed3a0fe7f|delivered   |2017-12-02 01:20:28     |sao paulo            |SP            |-23.570860168123758|-46.63324168698188 |1ec486885049bbb9b79351d150ed18c4|fashion_bolsas_e_acessorios      |49.9  |7.78         |57.68        |2017-12-02|
|006e43460a55bc60c0a437521e426529|delivered   |2017-05-11 00:24:35     |guaruja              |SP            |-23.978902860773438|-46.26040545326232 |08574b074924071f4e201e151b152b4e|ferramentas_jardim               |99.0  |43.06        |142.06       |2017-05-11|
|00750f68bb64537034e93554c64b41b5|delivered   |2017-11-12 09:50:55     |maua                 |SP            |-23.669993795741227|-46.44890869240463 |526f833e1eb0a32ad9351145a761b9ab|relogios_presentes               |129.0 |8.16         |137.16       |2017-11-12|
+--------------------------------+------------+------------------------+---------------------+--------------+-------------------+-------------------+--------------------------------+---------------------------------+------+-------------+-------------+----------+
only showing top 15 rows

In [13]:
df_base.describe(["price", "freight_value", "payment_value"]).show()
df_base.groupBy("order_status").count().show()
df_base.groupBy("customer_state").count().show()

+-------+------------------+------------------+------------------+
|summary|             price|     freight_value|     payment_value|
+-------+------------------+------------------+------------------+
|  count|            102349|            102349|            102349|
|   mean|124.40438001348033|20.104408543317764|161.60666982579278|
| stddev| 188.9131664636352|15.870970831547215| 221.0484858186442|
|    min|              0.85|               0.0|               0.0|
|    max|            6735.0|            409.68|          13664.08|
+-------+------------------+------------------+------------------+

+------------+------+
|order_status| count|
+------------+------+
|     shipped|  1126|
|    canceled|   465|
|    approved|     2|
|    invoiced|   322|
|   delivered|100122|
|  processing|   305|
| unavailable|     7|
+------------+------+

+--------------+-----+
|customer_state|count|
+--------------+-----+
|            SC| 3737|
|            RO|  258|
|            PI|  504|
|            AM|  151|
|            RR|   47|
|            GO| 2091|
|            TO|  290|
|            MT|  950|
|            SP|43042|
|            ES| 2096|
|            PB|  545|
|            RS| 5634|
|            MS|  732|
|            AL|  420|
|            MG|11976|
|            PA| 1002|
|            BA| 3466|
|            SE|  351|
|            PE| 1687|
|            CE| 1365|
+--------------+-----+
only showing top 20 rows

In [14]:
output_path = r"C:\Users\Gabriel\Documents\ml-data-engineering-project\notebooks\dataset_pronto"
df_base.write.mode("overwrite").parquet(output_path)

In [15]:
df_base.coalesce(1).write.csv(
    r"C:\Users\Gabriel\Documents\ml-data-engineering-project\notebooks\dataset_pronto",
    header=True,
    mode="overwrite"
)

In [16]:
df_base.show(15, truncate=False)

+--------------------------------+------------+------------------------+---------------------+--------------+-------------------+-------------------+--------------------------------+---------------------------------+------+-------------+-------------+----------+
|order_id                        |order_status|order_purchase_timestamp|customer_city        |customer_state|latitude_media     |longitude_media    |product_id                      |product_category_name            |price |freight_value|payment_value|order_date|
+--------------------------------+------------+------------------------+---------------------+--------------+-------------------+-------------------+--------------------------------+---------------------------------+------+-------------+-------------+----------+
|000576fe39319847cbb9d288c5617fa6|delivered   |2018-07-04 12:08:27     |praia grande         |SP            |-24.021423655849397|-46.46182393815408 |557d850972a7d6f792fd18ae1400d9b6|ferramentas_jardim               |810.0 |70.75        |880.75       |2018-07-04|
|0013503b13da1eac686219390b7d641b|delivered   |2017-12-05 23:40:59     |osasco               |SP            |-23.536560947809892|-46.78828362886693 |38afdf723b95d455b418a0f57d623c6b|moveis_decoracao                 |119.9 |17.32        |137.22       |2017-12-05|
|001427c0ec99cf8af737bd88e92fd444|delivered   |2018-04-07 18:51:22     |ituiutaba            |MG            |-18.976155023374968|-49.46335244818041 |28b4eced95a52d9c437a4caf9d311b95|moveis_decoracao                 |59.9  |23.35        |83.25        |2018-04-07|
|0020262c8a370bd5a174ea6a2a267321|delivered   |2017-11-28 09:32:49     |guaratuba            |PR            |-25.887866961664873|-48.58448614692999 |a5341e3f8155dbb3e62323d3ea289729|moveis_decoracao                 |79.5  |21.05        |100.55       |2017-11-28|
|0028de0ca693a1bb26448916a81105cc|delivered   |2018-08-15 14:59:36     |canoas               |RS            |-29.921655879098733|-51.174495237165324|059344baebbeaa42fa9f2bbe11b1583e|construcao_ferramentas_iluminacao|29.99 |15.31        |45.3         |2018-08-15|
|002c9def9c9b951b1bec6d50753c9891|delivered   |2018-05-14 16:57:47     |sao paulo            |SP            |-23.570860168123758|-46.63324168698188 |2d9ff06c8870a518f5f6909774e140fb|utilidades_domesticas            |78.0  |8.9          |173.8        |2018-05-14|
|00337fe25a3780b3424d9ad7c5a4b35e|delivered   |2017-09-25 17:39:29     |sao paulo            |SP            |-23.570860168123758|-46.63324168698188 |1f9799a175f50c9fa725984775cac5c5|cama_mesa_banho                  |59.9  |9.94         |139.68       |2017-09-25|
|0036757472ece3dde52fd4bfd929c90e|delivered   |2018-07-19 14:58:59     |bauru                |SP            |-22.32668283930309 |-49.066682485334695|4c1bbc12438daec98a77243c2bf7a3ba|moveis_escritorio                |136.99|66.04        |203.03       |2018-07-19|
|0039500db36d50d7d0bfaf23723550f3|delivered   |2018-07-06 10:37:32     |maceio               |AL            |-9.629092475768132 |-35.73120478518649 |62984ea1bba7fcea1f5b57084d3bf885|esporte_lazer                    |169.9 |33.33        |203.23       |2018-07-06|
|00404fa7a687c8c44ca69d42695aae73|delivered   |2018-05-07 22:38:21     |sao paulo            |SP            |-23.570860168123758|-46.63324168698188 |53b36df67ebb7c41585e8d54d6772e08|relogios_presentes               |99.9  |0.0          |99.9         |2018-05-07|
|0045e3085f083f0f38d24bb3f22e6593|delivered   |2017-08-10 16:13:36     |sao jose dos campos  |SP            |-23.21087970704398 |-45.885186496536896|9545d45c37449ccbc376de3a04c66e71|beleza_saude                     |116.9 |13.84        |130.74       |2017-08-10|
|005cad6157eadc7f1f09917607f1704a|delivered   |2017-04-15 16:35:52     |sao bernardo do campo|SP            |-23.70762633840408 |-46.56386871942135 |7e97894cc00196a56d6ec315c68b2353|esporte_lazer                    |96.0  |14.84        |110.84       |2017-04-15|
|006dd93155bc2abd844cc5eed3a0fe7f|delivered   |2017-12-02 01:20:28     |sao paulo            |SP            |-23.570860168123758|-46.63324168698188 |1ec486885049bbb9b79351d150ed18c4|fashion_bolsas_e_acessorios      |49.9  |7.78         |57.68        |2017-12-02|
|006e43460a55bc60c0a437521e426529|delivered   |2017-05-11 00:24:35     |guaruja              |SP            |-23.978902860773438|-46.26040545326232 |08574b074924071f4e201e151b152b4e|ferramentas_jardim               |99.0  |43.06        |142.06       |2017-05-11|
|00750f68bb64537034e93554c64b41b5|delivered   |2017-11-12 09:50:55     |maua                 |SP            |-23.669993795741227|-46.44890869240463 |526f833e1eb0a32ad9351145a761b9ab|relogios_presentes               |129.0 |8.16         |137.16       |2017-11-12|
+--------------------------------+------------+------------------------+---------------------+--------------+-------------------+-------------------+--------------------------------+---------------------------------+------+-------------+-------------+----------+
only showing top 15 rows

In [17]:
#Pegando valores únicos
city_date_df = df_base \
    .select("customer_city", "customer_state", "order_date", "latitude_media", "longitude_media") \
    .distinct()

In [18]:
#Amostragem do dataset, o número no limit() é quantas amostras vamos pegar. máximo 10 mil
sampled_df = city_date_df.limit(5000)
sampled_df.show(5, truncate=False)

+-------------------+--------------+----------+-------------------+-------------------+
|customer_city      |customer_state|order_date|latitude_media     |longitude_media    |
+-------------------+--------------+----------+-------------------+-------------------+
|sao paulo          |SP            |2018-03-03|-23.570860168123758|-46.63324168698188 |
|sao jose dos campos|SP            |2018-05-01|-23.21087970704398 |-45.885186496536896|
|curitiba           |PR            |2017-02-21|-25.453054020386823|-49.27499629427101 |
|santos             |SP            |2018-01-15|-23.96252319074526 |-46.32780350647331 |
|sao joao do triunfo|PR            |2018-07-05|-25.68486273907674 |-50.29852266825625 |
+-------------------+--------------+----------+-------------------+-------------------+
only showing top 5 rows

In [19]:
import requests
import time

def get_weather(lat, lon, date):
  try:
    url = "https://archive-api.open-meteo.com/v1/archive"
    params = {
        "latitude": lat,
        "longitude": lon,
        "start_date": date,
        "end_date": date,
        "daily": "temperature_2m_max,temperature_2m_min,precipitation_sum,weathercode",
        "timezone": "America/Sao_Paulo"
    }
    r = requests.get(url, params=params)
    r.raise_for_status()
    return r.json()
  except Exception:
    return None

In [20]:
weather_results = []

for row in sampled_df.collect():
  lat = row["latitude_media"]
  lon = row["longitude_media"]
  date = row["order_date"].strftime("%Y-%m-%d")
  city = row["customer_city"]

  data = get_weather(lat, lon, date)
  if data:
    daily = data.get("daily", {})
    weather_results.append({
        "city": city,
        "date": date,
        "temp_max": daily.get("temperature_2m_max", [None])[0],
        "temp_min": daily.get("temperature_2m_min", [None])[0],
        "precip": daily.get("precipitation_sum", [0])[0],
        "weather": daily.get("weathercode", [None])[0]
    })
  time.sleep(0.01)

In [21]:
weather_df = spark.createDataFrame(weather_results)

olist_enriched_df = df_base.join(
    weather_df,
    (df_base.customer_city == weather_df.city) &
    (df_base.order_date == weather_df.date),
    "left"
)

In [22]:
olist_enriched_df.filter(col("weather").isNotNull()).show(5, truncate=False)

+--------------------------------+------------+------------------------+---------------------+--------------+-------------------+------------------+--------------------------------+---------------------+-----+-------------+-------------+----------+---------------------+----------+------+--------+--------+-------+
|order_id                        |order_status|order_purchase_timestamp|customer_city        |customer_state|latitude_media     |longitude_media   |product_id                      |product_category_name|price|freight_value|payment_value|order_date|city                 |date      |precip|temp_max|temp_min|weather|
+--------------------------------+------------+------------------------+---------------------+--------------+-------------------+------------------+--------------------------------+---------------------+-----+-------------+-------------+----------+---------------------+----------+------+--------+--------+-------+
|0020262c8a370bd5a174ea6a2a267321|delivered   |2017-11-28 09:32:49     |guaratuba            |PR            |-25.887866961664873|-48.58448614692999|a5341e3f8155dbb3e62323d3ea289729|moveis_decoracao     |79.5 |21.05        |100.55       |2017-11-28|guaratuba            |2017-11-28|1.9   |26.4    |19.5    |51     |
|00337fe25a3780b3424d9ad7c5a4b35e|delivered   |2017-09-25 17:39:29     |sao paulo            |SP            |-23.570860168123758|-46.63324168698188|1f9799a175f50c9fa725984775cac5c5|cama_mesa_banho      |59.9 |9.94         |139.68       |2017-09-25|sao paulo            |2017-09-25|0.0   |25.0    |15.2    |3      |
|0039500db36d50d7d0bfaf23723550f3|delivered   |2018-07-06 10:37:32     |maceio               |AL            |-9.629092475768132 |-35.73120478518649|62984ea1bba7fcea1f5b57084d3bf885|esporte_lazer        |169.9|33.33        |203.23       |2018-07-06|maceio               |2018-07-06|9.7   |25.5    |23.0    |61     |
|005cad6157eadc7f1f09917607f1704a|delivered   |2017-04-15 16:35:52     |sao bernardo do campo|SP            |-23.70762633840408 |-46.56386871942135|7e97894cc00196a56d6ec315c68b2353|esporte_lazer        |96.0 |14.84        |110.84       |2017-04-15|sao bernardo do campo|2017-04-15|0.0   |23.6    |15.6    |3      |
|00750f68bb64537034e93554c64b41b5|delivered   |2017-11-12 09:50:55     |maua                 |SP            |-23.669993795741227|-46.44890869240463|526f833e1eb0a32ad9351145a761b9ab|relogios_presentes   |129.0|8.16         |137.16       |2017-11-12|maua                 |2017-11-12|0.0   |25.4    |11.4    |3      |
+--------------------------------+------------+------------------------+---------------------+--------------+-------------------+------------------+--------------------------------+---------------------+-----+-------------+-------------+----------+---------------------+----------+------+--------+--------+-------+
only showing top 5 rows

In [24]:
olist_enriched_df.coalesce(1).write.mode("overwrite").option("header", True).csv(
    r"C:\Users\Gabriel\Documents\ml-data-engineering-project\input\final-dataset"
)